.container {
    border: none;
    /* background-color: #ff6f3c; */
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90vw;
   
    /* padding: 0.5em; */
    border-radius: 2em;
    /* perspective: 1500px; */
}
.page {
    text-align:center;
}