.container {
    border: none;
    
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90vw;
   
    
    border-radius: 2em;
    
}
.page {
    text-align:center;
}