.container {
    display: flex;
    margin-top: 1em;
    gap:10px;
    justify-content: center;
    margin-bottom: -7em;
}
.button {
    font-size: 24px;
    background-color: #474747;
    border: 1px solid black;
    border-radius: 8%;
}
.button:hover {
    transform: scale(1.05);
}
.button[disabled] {
    background-color: #918c8c;
    cursor: no-drop;
    border: 1px solid black;
    border-radius: 8%;
}
.p {
    font-weight: bold;
    font-size: 1.2em;
}
